.cart-bg {
  width: 1200px;
  margin: 20px auto 50px; }
  .cart-bg .cart-none {
    border: 1px solid #e3e6e0;
    background: #fff;
    line-height: 30px;
    padding: 70px 0;
    display: none; }
    .cart-bg .cart-none p {
      height: 280px;
      font-size: 14px;
      text-align: center;
      background: url("../images/none-bg.jpg") no-repeat center bottom; }
      .cart-bg .cart-none p b {
        font-size: 14px;
        font-weight: normal; }
        .cart-bg .cart-none p b a {
          margin-left: 15px; }
      .cart-bg .cart-none p a {
        color: #008842; }
  .cart-bg .cart-full h2 {
    font-weight: normal;
    height: 38px;
    line-height: 38px;
    border-bottom: 2px solid #05984d;
    position: relative;
    background: url("../images/bg_cart.png") no-repeat 0 0 #fff; }
    .cart-bg .cart-full h2 a {
      float: right;
      color: #008842;
      font-size: 12px;
      margin-right: 25px;
      text-decoration: underline; }
  .cart-bg .cart-alert {
    border: 1px solid #e3e6e0;
    border-top: 0;
    padding: 10px 20px;
    background-color: #fff; }
  .cart-bg .cart-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin-bottom: 10px; }
    .cart-bg .cart-table th {
      height: 40px;
      background-color: #f1f1f1;
      font: 12px/40px Simsun;
      color: #262626;
      padding: 0 10px; }
    .cart-bg .cart-table td {
      border-top: 1px solid #ebebeb;
      padding: 10px; }
    .cart-bg .cart-table .cart-t-check {
      width: 120px;
      text-align: left;
      padding-left: 20px; }
      .cart-bg .cart-table .cart-t-check input {
        margin-right: 20px;
        vertical-align: middle; }
  .cart-bg .cart-t-img {
    width: 80px;
    position: relative;
    padding: 10px; }
    .cart-bg .cart-t-img img {
      width: 80px;
      height: 80px;
      border: 1px solid #ebebeb;
      position: relative; }
    .cart-bg .cart-t-img .cart-t-info a {
      font: 14px/2.4em Simsun;
      color: #444; }
  .cart-bg .cart-t-price {
    width: 100px;
    color: #262626;
    font-size: 14px;
    line-height: 14px; }
  .cart-bg .quantity-form {
    position: relative;
    overflow: hidden;
    width: 90px;
    height: 30px;
    margin-left: 20px; }
    .cart-bg .quantity-form .increment, .cart-bg .quantity-form .decrement {
      margin: 0;
      width: 18px;
      height: 24px;
      background: url("../images/bg_cart.png") no-repeat; }
    .cart-bg .quantity-form .decrement {
      float: left;
      background-position: 0 -40px; }
    .cart-bg .quantity-form .itxt {
      position: absolute;
      left: 22px;
      top: 0;
      border: 1px solid #cacbcb;
      width: 42px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      padding: 1px;
      margin: 0;
      font-size: 12px;
      font-family: verdana;
      color: #333; }
    .cart-bg .quantity-form .increment {
      float: right;
      background-position: -20px -40px; }
  .cart-bg .cart-t-total {
    width: 110px;
    color: #e93005;
    font-size: 14px;
    line-height: 14px; }
  .cart-bg .cart-t-opera {
    color: #262626;
    font: 12px/2em Simsun;
    text-align: center; }
    .cart-bg .cart-t-opera a {
      color: #444; }
  .cart-bg .cart-slct-box {
    border: 1px solid #ebebeb; }
  .cart-bg .cart-footer {
    background-color: #f7f7f7;
    font-size: 12px;
    line-height: 1em;
    color: #666;
    margin-top: 20px;
    padding: 10px;
    overflow: hidden; }
    .cart-bg .cart-footer .wrap {
      width: 100%; }
    .cart-bg .cart-footer .fl {
      float: left; }
    .cart-bg .cart-footer label {
      margin-left: 20px;
      vertical-align: middle; }
    .cart-bg .cart-footer input {
      margin-right: 5px; }
    .cart-bg .cart-footer a {
      font: 12px/40px Simsun;
      margin-left: 20px;
      color: #444; }
    .cart-bg .cart-footer .fr {
      float: right; }
      .cart-bg .cart-footer .fr span {
        margin-right: 20px; }
    .cart-bg .cart-footer em {
      color: #ff5317;
      font-weight: bold;
      margin: 0 5px;
      font-size: 18px;
      font-style: normal;
      line-height: 1em; }
    .cart-bg .cart-footer .ub em {
      color: #249c61;
      font: bold 14px/1em Simsun; }
    #btnSubmit {
      font: bold 18px/1em "Î¢ÈíÑÅºÚ";
      background-color: #ff5317;
      color: #fff;
      padding: 10px 20px;
      display: inline-block;
      margin-left: 0;
    }